body{
    font-family: 'Poppins', sans-serif;
    margin: 10;
    margin-top: 50;
}
h1{
    font-size: 50px;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
background{
    background-image: url(images/7.png);
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(240, 114, 11), rgb(247, 9, 9));
    color: white;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 35px;
    
}    
.alligning-middle{
    text-align: center;
}
.recipie-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 20px 40px grey;
    padding-left: 20px;
    border-radius: 5px; 
    display: flex;
}    
.color-change{
    color: rgba(238, 6, 6, 0.938);
}
footer{

}